<div id="login-page">
    <div class="container px-4 py-5 mx-auto">
        <div class="card card0">
            <div class="d-flex flex-lg-row flex-column-reverse">
                <div class="card card1">
                    <form >
                        <!-- [formGroup]="sendMailForm" (ngSubmit)="sendMailCTA()" -->
                        <div class="row justify-content-center my-auto">
                            <div class="col-md-8 col-10 my-5">
                                <h3 class="mb-5 text-center heading"> E-Commerce App </h3>
                                <h6 class="msg-info">Please type email to get update password link</h6>
                                <h6 >((message))</h6>
                                <!-- ngIf="message" -->
                                <div class="form-group">
                                    <label class="form-control-label text-muted">password</label>
                                    <input type="password" formControlName="password" id="password" name="password"
                                        placeholder="Enter password id" class="form-control">
                                    <!-- <div id="emailHelp" *ngIf="!email.valid && (email.dirty || email.touched)"
                                        class="form-text text-muted">email is required</div> -->
                                        <!-- <small id="emailHelp" 
                                        *ngIf="sendMailForm.controls.mobile.touched && updatePasswordForm.controls.password.hasError('required')" class="form-text text-danger ">password is required </small>
                                        <small id="emailHelp" *ngIf="updatePasswordForm.controls.password.touched && updatePasswordForm.controls.password.hasError('passwordNotExists')" class="form-text text-danger">Mobile not registered</small> -->
                                </div>
                                <div class="row justify-content-center my-3 px-3"> <button type="submit"
                                        class="btn-block btn-color">Update Password </button> </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>