<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9">
            <ng-container *ngIf="products.length > 0; else noProducts ">
                <div class="row my-4 border-bottom border-bottom-light" *ngFor = "let product of products; let i =index;">
                    <div class="col-sm-3">
                        <img [src] ="product.imgSrc ? product.imgSrc : 'http://localhost:3000/1601174293178-remi.jpeg'" width="80px">
                    </div>
                    <div class="col-sm-6">
                        <h4>{{product.name}}</h4>
                        <div>
                            <ul *ngIf="product.specifications">
                                <li *ngFor ="let specify of product.specifications">{{specify}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h2>{{product.price | currency: 'INR:true'}}</h2>
                        <!-- <button class="btn btn-success">Add to Cart</button>    //static -->
                        <button [ngClass]="{'btn btn-success':product.inStock == 'true', 'btn btn-danger':product.inStock == 'false'}" [disabled]="product.inStock == 'false' " (click)="addToCart(product)" [textContent]="product.inStock == 'true'   ? 'Add to cart': 'Out of Stock'"></button>
                    </div>
                </div>
            </ng-container>
            <ng-template #noProducts>
                <h2>No Products found with this category</h2>
            </ng-template>
        </div>
    </div>
</div>